localhost:80 {
  root * /app/public
  php_fastcgi laravel:8000
  encode gzip
  file_server

  # API routes
  route /api* {
    uri strip_prefix /api
    reverse_proxy laravel:8000
  }

  # Next.js requests
  route /* {
    try_files {path} {path}/ /frontend/.next/static{uri} /frontend/.next/static{uri}/ =404
    reverse_proxy nextjs:3000
  }
}
